@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import 'themes/light';
@import 'themes/dark';

@import 'components/button';
@import 'components/card';

body,
button {
    @apply .text-default;
}

.section {
    @apply .px-8;
}
