@import "tailwindcss/base";
@import "tailwindcss/components";

.button {
    @apply bg-blue text-white no-underline .rounded-lg .text-sm .py-2 .px-5;
    box-shadow: 0 2px 7px 0 #b0eaff;
}

.card {
    @apply bg-white p-5 rounded-lg;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}

@import "tailwindcss/utilities";
