@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
